@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


.pupil{
  transition: 0.2s;
}

.hand{
  transition: 0.3s;
}
.left-hand.active {
  transform: translate(70px, -115px);
}

.right-hand.active {
  transform: translate(-70px, -115px);
}

.right-hand.show-pass{
  transform: translate(-20px, -100px) rotate(40deg);
}